@page "/employeedetails/{id}"
@inherits EmployeeDetailsBase


<h3>EmployeeDetails</h3>

@if (Employee == null)
{
    <div>There is an error from your request. See the error below.</div>
    <div class="text-danger mt-3">@Error.errorMessage</div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@Employee.result.firstname @Employee.result.lastName</h1>
                </div>

                <div class="card-body text-center">
                    <h3>Employee ID : @Employee,result.id</h3>
                    <h3>Gender : @Employee.result.gender</h3>
                    <h3>Salary : @Employee.result.salary</h3>
                </div>

                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-info">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}